.Contact-us {
	margin-top:30px;
}

.Contact-us .contact-info {
    display: flex;
    margin-left: 100px;
}
.contact-info .col-md-5 h2{
    margin-top: 80px;
    font-size: 30px;
    color: black;
}
.contact-info .col-md-5 h3{
    font-size: 18px;
    color: black;
}
.contact-info p {
	color:#333;
}

.contact-info ul {
	color:#333;
	list-style:none;
}

.contact-info ul li {
	margin-top:20px;
	margin-bottom:20px;
}

.contact-info i {
	color:#eb8984;	
}

.Footer-info{
    display: flex;
    justify-content: center;
}
.Footer-info .credits{
    margin-top: 25px;
    margin-left: 30px;
}

@media (max-width: 768px) {
    .Contact-us {
      margin: 0;
      padding: 0;
    }
}